<%= form_for @note do |f| %>	
	<br>
	<%= f.text_field :title %><br><br>
	<p>Description:</p>
	<%= f.text_area :description, size: "50x15"  %><br>
	<p>Tags:</p>
	<%= f.text_field :tags %><br><br>
	<%= f.submit "Save" %>
<% end %>