<%= render 'shared/header' %>
<%= search_form_for @q, html: { class: "search-bar" } do |f| %>
  <%= f.search_field :description_or_title_or_tags_cont, class: "search-bar form-control", placeholder: "Search..." %>
<% end %>
<div class="row">
	<div class="col-lg-12">
		<% @notes.each do |note| %>
			<div class="notes">
				<div class="card">
					<div class="card-body <%= cycle('even-card', 'odd-card') -%>">
						<%= link_to note.title, edit_note_path(note) %>
						<%= markdown(note.description.truncate(200, separator: '</p>')) %>
					</div> <!-- /card-body -->
				</div> <!-- /card -->
			</div> <!-- /notes -->
		<% end %>
	</div>
</div> <!-- /row -->

