<div class="note-page jumbotron">
	<p><strong>Last Update:</strong> <%= format_date @note.updated_at %>	
	<%= link_to "Edit", edit_note_path(@note), class: "float-right" %></p>

	<%= markdown @note.description %>

	<%= link_to "Back", notes_path %>
	<%= link_to "Delete", note_path(@note), class:"float-right btn-sm btn-dark", method: :delete, data: { confirm: "Are you sure?" } %>
</div>