<div class="jumbotron note-page" >
	<p><strong>Last Update:</strong> <%= format_date @note.updated_at %>	
	
	<span id="edit-note"><%= link_to "Edit", edit_note_path(@note), class: "float-right" %></p></span>

	<%= markdown @note.description %>

</div>

<div class="secondary">
	<%= link_to "Back", notes_path %>
	<%= link_to "Delete", note_path(@note), method: :delete, data: { confirm: "Are you sure?" } %>
</div>