<p><strong>Last Updated: </strong><%= @note.updated_at %></p>

<%= markdown @note.description %>

<%= link_to "Back", notes_path %>
<%= link_to "Edit", edit_note_path(@note) %>
<%= link_to "Delete", note_path(@note), method: :delete, data: { confirm: "Are you sure?" } %>

