<% if notice %><div class="alert alert-info"><%= notice %></div> <% end %>
<% if alert %><div class="alert alert-warning"><%= alert %></div> <% end %>

<% if user_signed_in? %>
	<ul>
	  <li><%= link_to "+", new_note_path, class: "btn-lg btn-info add-note" %></li>
	  <li><%= link_to "Log out", destroy_user_session_path, class: "login-button", :method => :delete %></li>
	  <li>
	  	<%= search_form_for @q, html: { class: "search-bar" } do |f| %>
      <%= f.search_field :description_or_title_or_tags_cont, placeholder: "Search...", class: "form-control" %>
		<% end %>

		</li>
	</ul>
<% end %>     	
