<% if user_signed_in? %>
  <%= link_to current_user.email, edit_user_registration_path %> |
  <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
  <input type="text" placeholder="Search.." class="search-bar">  
  <%= link_to "Add Note", new_note_path, class: "btn-sm btn-primary add-note" %>

<% else %>
  <%= link_to "Log in", new_user_session_path %>
<% end %>
<% if notice %><div class="alert alert-info"><%= notice %></div> <% end %>
<% if alert %><div class="alert alert-warning"><%= alert %></div> <% end %>
